@model WardrobeAppMVC.Models.Bottom

@{
    ViewBag.Title = "Details";
}


<div class="details">
    <div class="container details-container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Details</h2>

                    <h4>
                        @Html.DisplayFor(model => model.BottomName) <br />
                        <img src=" @Html.DisplayFor(model => model.BottomImage)" />
                    </h4>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h3>Bottom Type</h3>
                    <p>
                        @Html.DisplayFor(model => model.BottomType.BottomType1)
                    </p>

                </div>
                <div class="col-sm-6 col-md-4">
                    <h3>
                        Color
                    </h3>

                    <p>
                        @Html.DisplayFor(model => model.Color.ColorName)

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h3>
                        Season
                    </h3>

                    <p>
                        @Html.DisplayFor(model => model.Season.SeasonName)

                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h3>
                        Occasion
                    </h3>

                    <p>
                        @Html.DisplayFor(model => model.Occasion.OccasionName)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <button type="button" class="btn btn-danger"> @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID })</button>
                        <button type="button" class="btn btn-warning">@Html.ActionLink("Back to List", "Index")</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="row empty-row"></div>
    </div>
</div>


