@model WardrobeAppMVC.Models.Outfit

@{
    ViewBag.Title = "Details";
}


<div class="details">
    <div class="container details-container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Details</h2>
                    <h3>Outfit</h3>
                    <h4>
                        @Html.DisplayFor(model => model.OutfitName)
                    </h4>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h3>
                        Top
                    </h3>

                    <p>
                        @Html.DisplayFor(model => model.Top.TopName) <br/>
                    <img src="@Html.DisplayFor(model => model.Top.TopImage)" />
                        </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h3>
                        Bottom
                    </h3>

                    <p>
                        @Html.DisplayFor(model => model.Bottom.BottomName) <br />
                        <img src="@Html.DisplayFor(model => model.Bottom.BottomImage)" />
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h3>
                        Shoes
                    </h3>

                    <p>
                        @Html.DisplayFor(model => model.Sho.ShoeName) <br />
                        <img src="@Html.DisplayFor(model => model.Sho.ShoeImage)" />
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h3>
                        Accessory
                    </h3>

                    <p>
                        @Html.DisplayFor(model => model.Accessory.AccessoryName) <br />
                        <img src="@Html.DisplayFor(model => model.Accessory.AccessoryImage)" />
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <button type="button" class="btn btn-danger"> @Html.ActionLink("Edit", "Edit", new { id = Model.OutfitID })</button>
                        <button type="button" class="btn btn-warning">@Html.ActionLink("Back to List", "Index")</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="row empty-row"></div>
    </div>
</div>