<body>
    @model IEnumerable<WardrobeAppMVC.Models.Outfit>

    @{
        ViewBag.Title = "Index";
    }
    <div class="outfits">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="title">Outfits</p>
                    <p>@Html.ActionLink("Create New", "Create")</p>
                </div>
            </div>
            <div class="row index-row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-md-4 item-col">
                        <div class="thumbnail outfit-thumbnail">
                            <div class="caption">
                                <p>
                                    <h3>@Html.DisplayFor(modelItem => item.OutfitName)</h3>
                                </p>
                                <p>
                                    <img src="@Html.DisplayFor(modelItem => item.Top.TopImage)" /> <br />

                                    <img src="@Html.DisplayFor(modelItem => item.Bottom.BottomImage)" />  <img src="@Html.DisplayFor(modelItem => item.Accessory.AccessoryImage)" /> <br />

                                    <img src="@Html.DisplayFor(modelItem => item.Sho.ShoeImage)" />
                                </p>
                                <p>
                                    <button type="button" class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.OutfitID })</button>
                                    <button type="button" class="btn btn-success">@Html.ActionLink("Details", "Details", new { id = item.OutfitID })</button>
                                    <button type="button" class="btn btn-warning">@Html.ActionLink("Delete", "Delete", new { id = item.OutfitID })</button>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="empty-row"></div>
        </div>
    </div>
</body>